@use "@/app/styles/main";

.accordion {
  border-radius: 0.75rem;
  background-color: var(--colour-neutral-200);
  padding: 2rem;

  button {
    display: block;
    width: 100%;
    text-align: initial;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .card {
    display: flex;
    flex-direction: column;

    li + li {
      margin-top: 0.5rem;
    }

    li {
      padding: 0;
      margin: 0;
    }

    button {
      padding: 1rem 0 1rem 0;
    }
  }

  .card:not(:last-child) {
    border-bottom: 1px solid var(--colour-neutral-400);
  }

  .card-body[data-opened] {
    padding: 0 0 1rem;
  }

  .card-body {
    box-sizing: content-box;
    padding: 0 0.5rem;
    border-radius: 10px;
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 250ms ease-in-out, padding 250ms ease-in-out;

    .content-container {
      display: flex;
      gap: 1rem;
      align-items: stretch; // Ensures the content and image containers align to full height
      justify-content: space-between;
      flex-wrap: wrap;

      .card-content {
        flex: 0 0 auto; // Ensures content stays aligned left
        text-align: left;
        align-self: center;
        
      }

      .image-container {
        flex: 1; // Takes up the remaining space
        display: flex;
        justify-content: center; // Centers the image horizontally
        align-items: center; // Centers the image vertically
        

        .card-image {
          max-height: 500px; // Ensures the image does not exceed the container height
          max-width: 100%; // Ensures the image scales within its container
          object-fit: contain; // Maintains aspect ratio
          border-radius: 8px;
        }
      }
    }
  }
   // Responsive styles
   @media (max-width: 1024px) {
    .card-body {
      .content-container {
        flex-direction: column; // Stack content and image vertically
        gap: 1rem;

        .card-content {
          text-align: left;
          align-self: flex-start;
        }

        .image-container {
          flex: 0 0 auto; // Shrinks to fit the content height
          text-align: center;

          .card-image {
            max-height: 100%;
            width: 100%; // Full-width image for smaller screens
            height: auto;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
