@font-face {
  font-family: "Roboto Slab";
  src: url("../public/typography/RobotoSlab-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../public/typography/RobotoSlab-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../public/typography/RobotoSlab-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../public/typography/RobotoSlab-SemiBold.ttf");
  font-weight: 600;
}

a {
  color: var(--colour-wics-blue-500);

  &:hover {
    opacity: 0.75;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--colour-neutral-1200);
}